* {
    margin: 0px;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.hero {
    display: flex;
    background-color: #1F2937;
}

.information {
    display: flex;
}

.quotebox {
    display: flex;
}

.action {
    display: flex;
}

.footer {
    display: flex;
    background-color: #1F2937;
}
