body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

.site-header {
   background-color: #1F2937;
   height: 72px;
} 

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
   color: #F9FAF8;
   font-size: 24px;
}

.nav a {
   text-decoration: none;
   color: #E5E7EB;
   font-size: 18px; 
   padding: 16px;
}

/* HERO */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;    
  background-color: #1F2937;
}


/* INFORMATION BOX */

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  text-align: center;
  margin-bottom: 100px;
}

img {
  width: 150px;
  height: 150px;
  border: 3px solid blue;
  border-radius: 15px;
}

.info-title {
  margin-bottom: 32px;
  font: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

.info-item {
  max-width: 150px;
  font-size: 16px;
  font: #389dff;
}

/* QUOTE BOX */

.quotebox {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  text-wrap: wrap;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  max-width: 800px;
  margin-top: 50px;

}

.author {
  font-size: 25px;
  margin-bottom: 100px;
  margin-left: 500px;
}


/* CALL FOR ACTION */

.action {
  width: 100%;
  align-items: center; 
}

/* FOOTER */

.footer {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  color: #F9FAF8;
  background-color: #1F2937;
}
