body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

.site-header {
   background-color: #1F2937;
   height: 72px;
} 

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
   color: #F9FAF8;
   font-size: 24px;
}

.nav a {
   text-decoration: none;
   color: #E5E7EB;
   font-size: 18px; 
   padding: 16px;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;   
  gap: 50px; 
  background-color: #1F2937;
  color: #f9faf8;

}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.hero-img {
   width: 500px;
   height: 200px;
   margin-top: 100px;
   margin-bottom: 100px;
   background-color: grey;
    position: relative;
}

.img-text {
 width: 100px;
    height: 100px;
    position: absolute;   /* position relative to outer box */
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-left {
   text-wrap: wrap;
   margin-left: 35px;
   width: 400px;
   height: 200px;
}

.hero-text {
   font-weight: 400;
   padding-bottom: 10px;
}

.hero-button {
   background-color: #3882f6;
   color: white;
   border: none;
   padding: 9px 30px;
   font-size: 18px;
   border-radius: 10px;
   font-weight: bold;
}


/* INFORMATION BOX */

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  text-align: center;
  margin-bottom: 100px;
}

img {
  width: 150px;
  height: 150px;
  border: 3px solid blue;
  border-radius: 15px;
}

.info-title {
  margin-bottom: 32px;
  font: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

.info-item {
  max-width: 150px;
  font-size: 16px;
  font: #389dff;
}

/* QUOTE BOX */

.quotebox {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  text-wrap: wrap;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  max-width: 800px;
  margin-top: 50px;

}

.author {
  font-size: 25px;
  margin-bottom: 100px;
  margin-left: 500px;
}

/* CALL FOR ACTION */

.action {
  display: flex;
  justify-content: center;
}

.action-box {
  background-color: #3882f6;
  color: white;
  border-radius: 20px;
  height: 150px;
  width: 900px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-flex;
}

.action-title {
  font-size: 25px;
  font-weight: bold;
}

.action-button {
   background-color: #3882f6;
   color: white;
   border: 2px solid;
   border-color: white;
   padding: 7px 28px;
   font-size: 16px;
   border-radius: 10px;
   font-weight: bold;
}

.action-left, .action-right {
    padding: 47px;
}

.action-right {
   margin-top: 10px;
   margin-left: 35px;
}

/* FOOTER */

.footer {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  color: #F9FAF8;
  background-color: #1F2937;
}
