body {
    margin: 0;
}

.site-header {
   background-color: #1F2937;
} 

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.logo {
   color: #F9FAF8;
   font-size: 24px;
}

.nav a {
   text-decoration: none;
   color: #E5E7EB;
   font-size: 18px; 
   padding: 16px;
}


.hero {
    display: flex;
    background-color: #1F2937;
}

.information {
    display: flex;
}

.quotebox {
    background-color: #E5E7EB;
    display: flex;
}

.action {
    display: flex;
}

.footer {
    display: flex;
    background-color: #1F2937;
}
